// COLORS

$selection: rgba(255, 13, 13, 0.612);
$primaryOverlay: linear-gradient(to right, rgb(64, 97, 17), rgb(245, 120, 11));
$secondaryOverlay: rgba(177, 92, 92, 0.413);
$primaryColor: #fff;
$secondaryColor: rgb(82, 82, 82);
$borderColor: rgba(255, 255, 255, 0.4);
$primaryBtn: #333;

// Menu colors
$blockTitle: #333;
$primaryTxt: rgb(99, 98, 98);
$placeholder: rgba(94, 94, 94, 0.701);
$secondaryTxt: rgba(62, 62, 62, 0.769);


// FONT SIZES

// Menu sizes

$gray1: rgb(67, 66, 66);
$gray2: rgb(107, 106, 106);
$gray3: #333;


$btnHoverColor: rgb(255, 77, 0);





//=====================================================

// COLORS

//navbar
$navColor: rgba(244, 244, 244, 0.844);
$navLinkColor: rgb(121, 121, 121);
$navLinkHoverColor: rgb(33, 33, 33);